@charset "utf-8";
@import "normalize";

body {
  background: #F8F8F8;
  color: #444;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: #333;

  &:hover {

  }
}

.container {
  background-color: white;
  padding: 3em;
}

.section-header {
  color: #BBBBBB;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: bold;
}

.social-media-links {
  font-size: 18px; 

  a {
    margin-right: 1em;
  }
}
