@charset "utf-8";
@import "normalize";

$default-text-color: #444;

body {
  background: #F8F8F8;
  color: $default-text-color;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  color: $default-text-color;

  &:hover {
    color: rgba($default-text-color, 0.5);

  }
}

.container {
  background-color: white;
  padding: 3em;
}

.section-header {
  color: #BBBBBB;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: bold;
}

.social-media-links {
  font-size: 18px; 

  a {
    margin-right: 1em;
  }
}
