@charset "utf-8";
@import "normalize";

$default-text-color: #444;

body {
  background: #F8F8F8;
  color: $default-text-color;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  border-bottom: 1px solid $default-text-color;
  color: $default-text-color;
  padding-bottom: 0.3em;
  text-decoration: none;
  transition: all 300ms ease;

  &:hover {
    border-color: rgba($default-text-color, 0.6);
    color: rgba($default-text-color, 0.6);
    text-decoration: none;
  }
}

.container {
  background-color: white;
  padding: 3em;
}

.section-header {
  color: #BBBBBB;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: bold;
}

.social-media-links {
  font-size: 18px; 

  a {
    margin-right: 1em;
  }
}
