black = #444
darkBlack  = #222; // :P

textColor = black
textHoverColor = darkBlack

html
  font-size 62.5%
    

body
  border-top solid black 5px
  color textColor
  font-size: 2em


.content
  margin 5em 20% 

a
  text-decoration none
  font-weight bold
  color textColor
  &:hover
    color textHoverColor
