html{font-size:62.5%}
body{border-top:solid #f33 5px;background:#ffffef;color:#444}
h1::selection,p::selection,a::selection{color:#fff;background:#0c0}
.content{margin:5em 20%}
h1{color:#f33;font-family:'Istok Web',Helvetica,sans-serif;font-size:3.4em;letter-spacing:.1em}
p{font-family:'Lora',Georgia,serif;font-size:2.2em}
a{text-decoration:none;font-weight:bold;color:#444;}
a:hover{color:#f33}
