black = #444
darkBlack  = #222; // :P

textColor = black
textHoverColor = darkBlack

serifFonts = 'Lora', Georgia, serif
sansSerifFonts = 'Istok Web', Helvetica, sans-serif

html
  font-size 62.5%

body
  border-top solid black 5px
  color textColor

.content
  margin 5em 20% 

h1
  font-family sansSerifFonts
  font-size 3em
  letter-spacing 0.1em
p 
  font-family serifFonts
  font-size 2em

a
  text-decoration none
  font-weight bold
  color textColor
  &:hover
    color textHoverColor
