black = #444
deepOrange = #FF3333
deepGreen = #00CC00

textColor = black
textHoverColor = deepOrange
topBorderColor = deepOrange
selectionColor = deepGreen
headerColor = deepOrange

serifFonts = 'Lora', Georgia, serif
sansSerifFonts = 'Istok Web', Helvetica, sans-serif

html
  font-size 62.5%

body
  border-top solid topBorderColor 5px
  background: #ff11
  color textColor

h1::selection, p::selection, a::selection
  color white
  background deepGreen

.content
  margin 5em 20% 

h1
  color: headerColor
  font-family sansSerifFonts
  font-size 3.4em
  letter-spacing 0.1em
p 
  font-family serifFonts
  font-size 2.2em

a
  text-decoration none
  font-weight bold
  color textColor
  &:hover
    color textHoverColor
