@textColor: #2C2C2C;
@backroundColor: #EDF9F9;
@linkColor: #FF3E29;
@selectionColor: #DC4328; 

body {
    background: @backroundColor;
    font-size: 62.5%;
    color: @textColor;
    margin-top: 10%;
    .wrap {
            width: 60%;
            margin: 0 auto;
    }
}

header {
    h2 {
        font-size: 3.2em;
        font-family: Unna, Trebuchet, Geneva, serif;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
}

section {
        margin-top: 5%;
}

p {
    font-size: 2.5em;
    font-family: Abel, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none; 
    color: @linkColor;
}

::selection {
        background: @selectionColor;
}
