---
title: Javon Harper - Web & Mobile App developer 
---

<div class="row">
  <div class="col-md-12">
    <h1>Javon Harper</h1>
    <h2>Independent web & mobile app developer</h2>

    <div class="social-media-links">
      <span><a href="http://twitter.com/javonharper">Twitter</a></span>
      <span><a href="http://github.com/javonharper">GitHub</a></span>
      <span><a href="http://instagram.com/javonharper">Instagram</a></span>
      <span><a href="mailto:javon@javonharper.com">Email</a></span>
    </div>
  </div>
</div>

<!-- <div class="row"> -->
<!--   <div class="col&#45;md&#45;8"> -->
<!--     <h3 class="section&#45;header">Projects</h3> -->
<!--  -->
<!--     <div class="project&#45;item"> -->
<!--       <span class="project&#45;title">Familiar</span> -->
<!--       <p class="project&#45;description"> -->
<!--         Make time for good habits you want to build. -->
<!--       </p> -->
<!--     </div> -->
<!--  -->
<!--   </div> -->
<!--  -->
<!--   <div class="col&#45;md&#45;4"> -->
<!--      -->
<!--   </div> -->
<!-- <div> -->
