---
title: Javon Harper - Web & Mobile App Developer 
---

<div class="row">
  <div class="col-md-12">
    <h1 class="name">Javon Harper</h1>
    <h2 class="title">Independent web & mobile app developer</h2>

    <div class="social-media-links">
      <a class="ion-social-twitter" href="http://twitter.com/javonharper">
      <a class="ion-social-github" href="http://github.com/javonharper"></a>
      <a class="ion-email" href="mailto:javon@javonharper.com"></a>
    </div>

    <p> Hi. My name is Javon</p>
  </div>
</div>

<div class="row">
  <div class="section col-md-12">
    <h3 class="section-header">Projects</h3>

    <div class="project-item">
      <div class="project-title">
        <a href="http://familiarapp.io">Familiar</a>
      </div>
      <p class="project-description">
        Make time for good habits you want to build.
      </p>
    </div>

    <div class="project-item">
      <div class="project-title">
        <a href="http://goodnotes.io">Goodnotes</a>
      </div>
      <p class="project-description">
        Listen to the best tracks of any artist or band.
      </p>
    </div>

    <div class="project-item">
      <div class="project-title">
        <a href="https://play.google.com/store/apps/details?id=com.javonharper.tempo&hl=en">Tempo</a>
      </div>
      <p class="project-description">
        Calculate the Beats Per Minute (BPM) or tempo of a song by tapping.
      </p>
    </div>
  </div>
</div>

<div class=" footer row">
  <div class="col-md-12">
    Copyright © 2016 Javon Harper.
  </div>
</div>
