---
title: Javon Harper - Web & Mobile App Developer 
---

<div class="row">
  <div class="col-md-12">
    <h1 class="name">Javon Harper</h1>
    <h2 class="title">Independent web & mobile app developer</h2>

    <div class="social-media-links">
      <a href="http://twitter.com/javonharper">Twitter</a>
      <a href="http://github.com/javonharper">GitHub</a>
      <a href="http://javonharper.com/blog">Blog</a>
      <a href="mailto:javon@javonharper.com">Contact</a>
    </div>

  </div>
</div>

<div class="row">
  <div class="section col-md-6">
    <h3 class="section-header">Projects</h3>

    <div class="project-item">
      <div class="project-title">
        <a href="http://goodnotes.io">Goodnotes</a>
      </div>
      <p class="project-description">
        Listen to the best tracks of any artist or band.
      </p>
    </div>


    <div class="project-item">
      <div class="project-title">
        <a href="http://familiarapp.io">Familiar</a>
      </div>
      <p class="project-description">
        Make time for good habits you want to build.
      </p>
    </div>

    <div class="project-item">
      <div class="project-title">
        <a href="https://play.google.com/store/apps/details?id=com.javonharper.tempo&hl=en">Tempo</a>
      </div>
      <p class="project-description">
        Calculate the Beats Per Minute (BPM) or tempo of a song by tapping.
      </p>
    </div>
  </div>

  <div class="col-md-6 section">
    <h3 class="section-header">About Me</h3>
    <p class="about-me">
      Hi. I'm a freelance developer from Philadelphia.
      I run a software consultancy called <a href="http://www.shuttleport.io">Shuttleport</a>.
      Head over there if you'd like to see my professional work or work together.
    </p>
  </div>
</div>

<div class=" footer row">
  <div class="col-md-12">
    Copyright © 2016 Javon Harper.
  </div>
</div>
